body {
    background-color: rgb(157, 212, 227);
}

.fotografias{
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 10px;
}

.fotografias img{
    width: 150px;
    border-radius: 20px;
}
